/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

#try-free-ai {
  background: linear-gradient(90deg, rgba(255,77,77,1) 0%, rgba(255,126,71,1) 14%, rgba(255,215,0,1) 28%, rgba(71,255,71,1) 42%, rgba(0,215,255,1) 57%, rgba(0,71,255,1) 71%, rgba(148,0,255,1) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Fallback: on some browsers, 'color: transparent' works instead */
  display: inline;
  font-weight: bold;
  transition: background 0.5s ease;
}

#try-free-ai:hover {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,106,0,1) 14%, rgba(255,230,0,1) 28%, rgba(59,255,59,1) 42%, rgba(0,191,255,1) 57%, rgba(0,0,255,1) 71%, rgba(211,0,255,1) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Fallback: on some browsers, 'color: transparent' works instead */
}

#GPTs {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 77, 77, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Fallback for some browsers */
  display: inline;
  font-weight: bold;
  transition: background 0.5s ease;
}


